@{
    ViewData["Title"] = "Personas Fisicas";
}
@model IEnumerable<PersonaFisicaViewModel>
<h4>Lista de Personas Físicas</h4>
<p><a asp-action="Crear" class="btn btn-primary">Crear</a></p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre Completo</th>
            <th>RFC</th>
            <th>Fecha de Nacimiento</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in Model) {
            string active;
            if (item.Activo == true)
                active = "Activo";
            else
                active = "Inactivo";
            <tr>
                <td>@item.IdPersonaFisica</td>
                <td>@(item.Nombre + " " + item.ApellidoPaterno+ " " + item.ApellidoMaterno)</td>
                <td>@item.RFC</td>
                <td>@item.FechaNacimiento?.ToString("yyyy-MM-dd")</td>
                <td>@active</td>
                <td>@Html.ActionLink("Editar", "Actualizar", new { id = item.IdPersonaFisica },
                        new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdPersonaFisica },
                        new { @class = "btn btn-danger", @id ="BtnEliminar"})
                </td>
                
            </tr>
        }
    }
    </tbody>
</table>

